# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Node / Frontend
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.eslintcache

# Logs e Dados Dinâmicos (Estado da fila)
*.log
estado_filas.json

# Sistema / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Variáveis de Ambiente
.env
.env.local
